.logo img {
    height: 60px;
  }
  
  .user-icon img {
    border-radius: 50%;
  }
  
  .user-detail {
    padding: 13px 10px;
  }
  
  .user-detail p {
    font-size: 16px;
    color: #bcbcbc;
    font-family: Roboto-Bold;
  }
  
  h2 {
    font-size: 9px;
    color: #bcbcbc;
    font-family: Roboto-Regular;
    line-height: 2;
  }